<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @campaign.name %>
</p>

<p>
  <b>Description:</b>
  <%= @campaign.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @campaign.image_url %>
</p>

<p>
  <b>Money to raise:</b>
  <%= @campaign.money_to_raise %>
</p>


<p>
  <b>Expiry date:</b>
  <%= @campaign.expiry_date %>
</p>


	<div id="donors-wrapper">
		<div id="donors">
			<div class="heading">Recent Donations</div>
			<div class="body">
				<table id="cv-donations" cellspacing="0" cellpadding="0">
				<tr>
					<th>
						Name
					</th>
					<th>
						Amount
					</th>
					<th>
						Comment
					</th>	
				</tr>
        <%= render @campaign.donors %>
			  </table>				
			</div>

		</div>
	</div><!-- end donors-wrapper -->								



<h2>Register as a Donor:</h2>
<%= render "donors/form" %>



<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
